In [63]:
import pandas as pd
from torch import dtype

print(pd.__version__)

2.2.3

In [64]:
data1 = [10, 20, 30, 40, 50]
print(data1, type(data1))

[10, 20, 30, 40, 50] <class 'list'>

In [65]:
data2 = ['1반', '2반', '3반', '4반', '5반']
print(data2, type(data2))

['1반', '2반', '3반', '4반', '5반'] <class 'list'>

In [66]:
sr1 = pd.Series(data1)
print(sr1, type(sr1))

0    10
1    20
2    30
3    40
4    50
dtype: int64 <class 'pandas.core.series.Series'>

In [67]:
sr2 = pd.Series(data2)
print(sr2, type(sr2))

0    1반
1    2반
2    3반
3    4반
4    5반
dtype: object <class 'pandas.core.series.Series'>

In [68]:
sr3 = pd.Series([101, 102, 103, 104, 105])
print(sr3, type(sr3))

0    101
1    102
2    103
3    104
4    105
dtype: int64 <class 'pandas.core.series.Series'>

In [69]:
sr4 = pd.Series(['월', '화', '수', '목', '금'])
print(sr4, type(sr4))

0    월
1    화
2    수
3    목
4    금
dtype: object <class 'pandas.core.series.Series'>

In [70]:
sr5 = pd.Series(data1, index = [1000, 1001, 1002, 1003, 1004])
print(sr5, type(sr5))

1000    10
1001    20
1002    30
1003    40
1004    50
dtype: int64 <class 'pandas.core.series.Series'>

In [71]:
sr6 = pd.Series(data1, index = data2)
print(sr6, type(sr6))

1반    10
2반    20
3반    30
4반    40
5반    50
dtype: int64 <class 'pandas.core.series.Series'>

In [72]:
sr7 = pd.Series(data2, index = data1)
print(sr7, type(sr7))

10    1반
20    2반
30    3반
40    4반
50    5반
dtype: object <class 'pandas.core.series.Series'>

In [73]:
sr8 = pd.Series(data2, index = sr4)
print(sr8, type(sr8))
print(sr8[2])
print(sr8['수'])
print(sr8[-1])
print(sr8[0:4])
print(sr8.values)
print(sr8.index)

월    1반
화    2반
수    3반
목    4반
금    5반
dtype: object <class 'pandas.core.series.Series'>
3반
3반
5반
월    1반
화    2반
수    3반
목    4반
dtype: object
['1반' '2반' '3반' '4반' '5반']
Index(['월', '화', '수', '목', '금'], dtype='object')

/var/folders/x_/xf7w4xhx6kl03__yxdgdfl9m0000gn/T/ipykernel_25499/704633765.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr8[2])
/var/folders/x_/xf7w4xhx6kl03__yxdgdfl9m0000gn/T/ipykernel_25499/704633765.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(sr8[-1])

In [74]:
print(sr1+sr3)

0    111
1    122
2    133
3    144
4    155
dtype: int64

In [75]:
print(sr4 + sr2)

0    월1반
1    화2반
2    수3반
3    목4반
4    금5반
dtype: object