In [12]:
import pandas as pd

data_dic = {
    'year' :[2018, 2019, 2020],
    'sales' : [350, 480, 1099]
}

data_dic

{'year': [2018, 2019, 2020], 'sales': [350, 480, 1099]}

In [6]:
data2 = ['1반', '2반', '3반', '4반', '5반']
print(data2, type(data2))

['1반', '2반', '3반', '4반', '5반'] <class 'list'>

In [7]:
df1 = pd.DataFrame(data_dic)
df1

   year  sales
0  2018    350
1  2019    480
2  2020   1099

In [ ]:
df2 = pd.DataFrame([[89.2, 92.5, 90.8], [92.8, 89.9, 95.2]], index=['중간고사', '기말고사'], columns = data2[0:3])
df2

In [15]:
data_df = [['20201101', 'Hong', '90', '95'],
           ['20201102','Kim', '93', '94'],
           ['20201103', 'Lee', '87', '97']]
df3 = pd.DataFrame(data_df)
print(df3)

df3.columns = ['학번', '이름', '중간고사', '기말고사']
print(df3)

print(df3.head(2))
print(df3.tail(2))
print(df3['이름'])

          0     1   2   3
0  20201101  Hong  90  95
1  20201102   Kim  93  94
2  20201103   Lee  87  97
         학번    이름 중간고사 기말고사
0  20201101  Hong   90   95
1  20201102   Kim   93   94
2  20201103   Lee   87   97
         학번    이름 중간고사 기말고사
0  20201101  Hong   90   95
1  20201102   Kim   93   94
         학번   이름 중간고사 기말고사
1  20201102  Kim   93   94
2  20201103  Lee   87   97
0    Hong
1     Kim
2     Lee
Name: 이름, dtype: object